.banners {
  width: 100%;
  height: 17vh;
  position: relative;
  background-color: #61001f;
  overflow: hidden;
  #banner1 {
    width: 50%;
    height: 17vh;
    background-color: #555;
    display: inline-block;
    .baro {
      .lucky {
        position: absolute;
        top: 1vh;
        left: 19vw;

        img {
          width: 5vw;
          height: 15vh;
        }
      }

      .star {
        position: absolute;
        top: 1vh;
        left: 25vw;

        img {
          width: 5vw;
          height: 15vh;
        }
      }

      span {
        position: absolute;
        top: 4vh;
        left: 35vw;
        font: 22px/1 "맑은 고딕";
        color: #fff;
      }

      a {
        position: absolute;
        bottom: 2vh;
        left: 34.5vw;
        outline: none;
        border: none;
        padding: 10px 55px;
        cursor: pointer;
        font: bold 30px/1.2 "arial";
        background-color: #a50034;
        color: #fff;
        // transition: 0.5s;

        &:hover {
          background-color: #fff;
          color: #a50034;
        }
      }
    }
  }
  // 오른쪽배너
  #banner2 {
    width: 50%;
    height: 17vh;
    position: relative;
    float: right;

    .baro2 {
      width: 400%;
      height: 400px;
      display: flex;

      li {
        width: 100%;
        height: 17vh;
        text-align: center;

        h3 {
          font: bold 26px/6vh "맑은 고딕";
          color: #fff;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          // background-color: #000;
          font: 25px/8vh "맑은 고딕";
          color: #fff;

          span {
            font: bold 42px/8vh "맑은 고딕";
            margin: 0 20px;

            .span1 {
              color: #f3306e;

              margin: 0px;
            }
          }
        }
      }
    }

    .navi {
      display: flex;
      position: absolute;
      top: 6vh;
      left: 20px;
      margin-bottom: 150px;

      .prev {
        &::before,
        &::after {
          left: 25px;
          transform-origin: left center;
        }

        span {
          left: 25px;
        }
      }
      .next {
        position: absolute;
        left: 40vw;

        &::before,
        &::after {
          right: 25px;
          transform-origin: right center;
        }

        span {
          right: 25px;
        }
      }

      .prev,
      .next {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #555;
        cursor: pointer;
        position: relative;
        bottom: 5px;
        background-color: #fff;

        &::before,
        &::after {
          content: "";
          display: block;
          width: 17px;
          height: 2px;
          background-color: #555;
          position: absolute;
        }

        &::before {
          top: 49%;
          transform: rotate(45deg) translateX(0px);
        }

        &::after {
          bottom: 49%;
          transform: rotate(-45deg) translateX(0px);
        }

        span {
          width: 24px;
          height: 2px;
          background-color: #555;
          position: absolute;
          top: 49%;
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .banners {
    #banner1 {
      .baro {
        span {
          left: 33vw;
        }

        a {
          bottom: 2vh;
          left: 32.5vw;
        }
      }
    }
    // 오른쪽배너
    #banner2 {
      .baro2 {
        li {
          p {
            // background-color: #000;
            font: 23px/8vh "맑은 고딕";
            color: #fff;

            span {
              font: bold 39px/8vh "맑은 고딕";
              margin: 0 20px;
            }
          }
        }
      }

      .navi {
        .next {
          left: 37vw;
        }
      }
    }
  }
}

@media screen and (max-width: 1197px) {
  .banners {
    #banner1 {
      .baro {
        .lucky {
          left: 13vw;
        }

        .star {
          left: 19vw;
        }

        span {
          left: 29vw;
        }

        a {
          left: 28.5vw;
        }
      }
    }
    // 오른쪽배너
    #banner2 {
      .baro2 {
        li {
          h3 {
            font: bold 23px/6vh "맑은 고딕";
            color: #fff;
          }
          p {
            // background-color: #000;
            font: 20px/8vh "맑은 고딕";

            span {
              font: bold 37px/8vh "맑은 고딕";
              margin: 0 5px;
            }
          }
        }
      }

      .navi {
        .prev {
          &::before,
          &::after {
            left: 17px;
            transform-origin: left center;
          }

          span {
            left: 17px;
          }
        }
        .next {
          position: absolute;
          left: 42vw;

          &::before,
          &::after {
            right: 17px;
            transform-origin: right center;
          }

          span {
            right: 17px;
          }
        }

        .prev,
        .next {
          width: 60px;
          height: 60px;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 17px;
            height: 2px;
            background-color: #555;
            position: absolute;
          }

          &::before {
            top: 49%;
            transform: rotate(45deg) translateX(0px);
          }

          &::after {
            bottom: 49%;
            transform: rotate(-45deg) translateX(0px);
          }

          span {
            width: 24px;
            height: 2px;
            background-color: #555;
            position: absolute;
            top: 49%;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .banners {
    #banner1 {
      width: 30%;
      .baro {
        .lucky {
          left: 13vw;
          display: none;
        }

        .star {
          left: 19vw;
          display: none;
        }

        span {
          left: 6vw;
        }

        a {
          left: 5.5vw;
        }
      }
    }
    // 오른쪽배너
    #banner2 {
      width: 70%;
      height: 17vh;
      position: relative;
      float: right;

      .baro2 {
        width: 400%;
        height: 400px;
        display: flex;

        li {
          width: 100%;
          height: 17vh;
          overflow: hidden;
          text-align: center;

          h3 {
            font: bold 23px/6vh "맑은 고딕";
            color: #fff;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            // transform: translateX(-50px);
            width: 100%;
            // background-color: #000;
            font: 20px/8vh "맑은 고딕";
            color: #fff;

            span {
              font: bold 37px/8vh "맑은 고딕";
              margin: 0 20px;

              .span1 {
                color: #f3306e;

                margin: 0px;
              }
            }
          }
        }
      }

      .navi {
        display: flex;
        position: absolute;
        top: 6vh;
        left: 5vw;

        .prev {
          &::before,
          &::after {
            left: 25px;
            transform-origin: left center;
          }

          span {
            left: 25px;
          }
        }
        .next {
          position: absolute;
          left: 47vw;

          &::before,
          &::after {
            right: 25px;
            transform-origin: right center;
          }

          span {
            right: 25px;
          }
        }

        .prev,
        .next {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 1px solid #555;
          cursor: pointer;
          position: relative;
          bottom: 5px;
          background-color: #fff;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 17px;
            height: 2px;
            background-color: #555;
            position: absolute;
          }

          &::before {
            top: 49%;
            transform: rotate(45deg) translateX(0px);
          }

          &::after {
            bottom: 49%;
            transform: rotate(-45deg) translateX(0px);
          }

          span {
            width: 24px;
            height: 2px;
            background-color: #555;
            position: absolute;
            top: 49%;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .banners {
    #banner1 {
      width: 0%;
      .baro {
        .lucky {
          left: 13vw;
          display: none;
        }

        .star {
          left: 19vw;
          display: none;
        }

        span {
          left: 6vw;
          display: none;
        }

        a {
          left: 5.5vw;
          display: none;
        }
      }
    }
    // 오른쪽배너
    #banner2 {
      width: 100%;

      .baro2 {

        li {

          h3 {
            font: bold 23px/6vh "맑은 고딕";
            color: #fff;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            // transform: translateX(-50px);
            width: 100%;
            // background-color: #000;
            font: 20px/8vh "맑은 고딕";
            color: #fff;

            span {
              font: bold 37px/8vh "맑은 고딕";
              margin: 0 20px;

              .span1 {
                color: #f3306e;

                margin: 0px;
              }
            }
          }
        }
      }

      .navi {
        display: flex;
        position: absolute;
        top: 6vh;
        left: 5vw;

        .prev {
          &::before,
          &::after {
            left: 25px;
            transform-origin: left center;
          }

          span {
            left: 25px;
          }
        }
        .next {
          position: absolute;
          left: 73vw;

          &::before,
          &::after {
            right: 25px;
            transform-origin: right center;
          }

          span {
            right: 25px;
          }
        }

        .prev,
        .next {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 1px solid #555;
          cursor: pointer;
          position: relative;
          bottom: 5px;
          background-color: #fff;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 17px;
            height: 2px;
            background-color: #555;
            position: absolute;
          }

          &::before {
            top: 49%;
            transform: rotate(45deg) translateX(0px);
          }

          &::after {
            bottom: 49%;
            transform: rotate(-45deg) translateX(0px);
          }

          span {
            width: 24px;
            height: 2px;
            background-color: #555;
            position: absolute;
            top: 49%;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .banners {
    // 오른쪽배너
    #banner2 {
      width: 100%;

      .baro2 {
        li {
          h3 {
            font: bold 23px/7vh "맑은 고딕";
            color: #fff;
          }
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            // transform: translateX(-50px);
            width: 100%;
            // background-color: #000;
            font: 17px/11vh "맑은 고딕";
            color: #fff;

            span {
              font: bold 30px/8vh "맑은 고딕";
              margin: 0 20px;

              .span1 {
                font: bold 35px/8vh "맑은 고딕";
                color: #f3306e;

                margin: 0px;
              }
            }
          }
        }
      }

      .navi {
        display: flex;
        position: absolute;
        top: 2vh;
        left: 5vw;

        .prev {
          &::before,
          &::after {
            left: 25px;
            transform-origin: left center;
          }

          span {
            left: 25px;
          }
        }
        .next {
          position: absolute;
          left: 57vw;

          &::before,
          &::after {
            right: 25px;
            transform-origin: right center;
          }

          span {
            right: 25px;
          }
        }

        .prev,
        .next {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 1px solid #555;
          cursor: pointer;
          position: relative;
          bottom: 5px;
          background-color: #fff;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 17px;
            height: 2px;
            background-color: #555;
            position: absolute;
          }

          &::before {
            top: 49%;
            transform: rotate(45deg) translateX(0px);
          }

          &::after {
            bottom: 49%;
            transform: rotate(-45deg) translateX(0px);
          }

          span {
            width: 24px;
            height: 2px;
            background-color: #555;
            position: absolute;
            top: 49%;
            opacity: 1;
          }
        }
      }
    }
  }
}