#sosik {
  width: 100%;
  height: 55vh;
  position: relative;
  background-color: #e9e9e9;

  .inner {
    position: absolute;
    top: 50px;
    left: 430px;
    display: flex;

    h1 {
      font: bold 40px/1 "맑은 고딕";
      color: #555;
    }

    span {
      font: 16px/60px "맑은 고딕";
      padding-left: 20px;
      color: #111;
    }
  }

  .NGboard {
    flex: 1.5;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 500px;
    cursor: pointer;

    .tab {
      display: flex;
      width: 500px;
      height: 60px;

      li {
        width: 150px;
        height: 50px;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 10px 0 0;
        border: 1.5px solid #000;
        border-bottom: none;

        &.on {
          background-color: #ddd;
          a {
            color: #333;
          }
        }

        a {
          font: bold 20px/50px "맑은 고딕";
          color: #fff;
        }
      }
    }

    .content {
      width: 700px;
      height: 180px;
      position: relative;

      div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        z-index: 1;

        &.on {
          opacity: 1;
          z-index: 2;
        }
      }

      #notice,
      #event,
      #board {
        justify-content: flex-start;
        width: 650px;
        height: 200px;
        padding: 30px;
        border: 2px solid #000;
        background-color: #fff;
        border-radius: 15px;
        position: absolute;
        left: -30px;
        top: -10px;

        ul {
          li {
            width: 580px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;

            // &:hover {
            //   background-color: #e9e9e9;
            // }
            a {
              font: bold 20px/1.3 "맑은 고딕";
              color: #000;
            }
            span {
              font: 16px/2 "맑은 고딕";
            }
          }
        }
      }
    }
  }

  .snsContent {
    position: relative;
    a {
      width: 70px;
      height: 70px;
      .plusBtn {
        display: flex;
        position: absolute;
        top: 30px;
        right: 350px;
        width: 70px;
        height: 70px;
        border: 3px solid #a50034;
        border-radius: 50%;
        cursor: pointer;

        &::before {
          content: "";
          display: block;
          width: 45px;
          height: 3px;
          background-color: #a50034;
          position: absolute;
          top: 49%;
          transform: rotate(0deg) translateX(25%);
        }

        &::after {
          content: "";
          display: block;
          width: 45px;
          height: 3px;
          background-color: #a50034;
          position: absolute;
          top: 49%;
          transform: rotate(90deg) translateY(-10px);
        }
      }
    }

    .inner {
      display: block;
      position: absolute;
      top: 130px;
      left: 1150px;
      width: 400px;
      height: 320px;
      background-color: #aaa;
      border-radius: 20px;
      padding: 50px 0 0 30px;
      z-index: 10;

      .title {
        display: flex;

        h2 {
          font: bold 40px/1 "맑은 고딕";
          color: #a50034;
        }

        h3 {
          font: bold 40px/1 "맑은 고딕";
          margin-left: 15px;
        }
      }

      .subTitle {
        margin-top: 20px;

        span {
          font: 17px/1.3 "맑은 고딕";
          text-align: left;
        }
      }

      .sns {
        ul {
          li {
            margin-top: 25px;
            cursor: pointer;

            &:nth-child(1) {
              width: 110px;
              height: 110px;
              overflow: hidden;
              background-image: url(../images/sns.png);
              background-repeat: no-repeat;

              a {
                width: 100%;
                height: 100%;
                display: block;
              }
            }

            &:nth-child(2) {
              width: 110px;
              height: 110px;
              overflow: hidden;
              background-image: url(../images/sns.png);
              background-repeat: no-repeat;
              background-position: 50% 74%;
              margin-top: -110px;
              margin-left: 120px;
              a {
                width: 100%;
                height: 100%;
                display: block;
              }
            }

            &:nth-child(3) {
              width: 110px;
              height: 110px;
              overflow: hidden;
              background-image: url(../images/sns.png);
              background-repeat: no-repeat;
              background-position: right bottom;
              margin-top: -110px;
              margin-left: 240px;
              a {
                width: 100%;
                height: 100%;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:1440px) {
  #sosik {
    .inner {
      top: 5vh;
      left: 12vw;
    }
  
    .NGboard {
      top: 22vh;
      left: 13vw;
    }
  
    .snsContent {
      a {
        .plusBtn {
          top: 3vh;
          right: 14vw;
        }
      }
  
      .inner {
        left: 58vw;
      }
    }
  }
}
@media screen and (max-width:1197px) {
  #sosik {
  
    .inner {
      top: 5vh;
      left: 7vw;
    }
  
    .NGboard {
      top: 22vh;
      left: 10vw;
    }
  
    .snsContent {
      a {
        .plusBtn {
          top: 3vh;
          right: 5vw;
        }
      }
  
      .inner {
        left: 63vw;
      }
    }
  }
}

@media screen and (max-width:1024px) {
  #sosik {
  
    .inner {
      top: 5vh;
      left: 7vw;
    }
  
    .NGboard {
      top: 22vh;
      left: 10vw;
      .tab {
  
        li {
          width: 10vw;
  
          a {
            font: bold 16px/50px "맑은 고딕";
          }
        }
      }

      .content {

      #notice,
      #event,
      #board {
        width: 50vw;

        ul {
          width: 50vw;
          li {
            a {
              font: bold 16px/1.3 "맑은 고딕";
              color: #000;
            }

          }
        }
      }
    }
  }
  
    .snsContent {
      a {
        .plusBtn {
          top: 3vh;
          right: 5vw;
        }
      }
  
      .inner {
        left: 58vw;
      }
    }
  }
}
@media screen and (max-width:768px) {
  #sosik {
  
    .inner {
      top: 5vh;
      left: 7vw;
    }
  
    .NGboard {
      .tab {
  
        li {
          width: 13.5vw;
  
          a {
            font: bold 14px/50px "맑은 고딕";
          }
        }
      }

      .content {

      #notice,
      #event,
      #board {
        width: 50vw;

        ul {
          width: 50vw;
          li {
            a {
              font: bold 16px/1.3 "맑은 고딕";
              color: #000;
            }

          }
        }
      }
    }
  }
  
  .snsContent {
    position: relative;
    a {
      .plusBtn {
        position: absolute;
        top: 38vh;
        left: 82vw;
        z-index: 11;
      }
    }

    .inner {
      display: block;
      position: absolute;
      top: 130px;
      left: 60vw;
      width: 36vw;
      height: 320px;
      background-color: #aaa;
      border-radius: 20px;
      padding: 20px 0 0 30px;
      z-index: 10;

      .title {
        display: flex;

        h2 {
          margin-left: 2vw;
          font: bold 22px/1 "맑은 고딕";
          color: #a50034;
        }

        h3 {
          font: bold 22px/1 "맑은 고딕";
          margin-left: 1vw;
        }
      }

      .subTitle {
        margin-top: 20px;

        span {
          font: 17px/1.3 "맑은 고딕";
          text-align: left;
          display: none;
        }
      }

      .sns {
        ul {
          li {
            margin-top: 25px;
            cursor: pointer;

            &:nth-child(1) {
              width: 110px;
              height: 110px;
              overflow: hidden;
              background-image: url(../images/sns.png);
              background-repeat: no-repeat;

              a {
                width: 100%;
                height: 100%;
                display: block;
              }
            }

            &:nth-child(2) {
              width: 110px;
              height: 110px;
              overflow: hidden;
              background-image: url(../images/sns.png);
              background-repeat: no-repeat;
              background-position: 50% 74%;
              margin-top: -110px;
              margin-left: 120px;
              a {
                width: 100%;
                height: 100%;
                display: block;
              }
            }

            &:nth-child(3) {
              width: 110px;
              height: 110px;
              overflow: hidden;
              background-image: url(../images/sns.png);
              background-repeat: no-repeat;
              background-position: right bottom;
              position: absolute;
              bottom: 3vh;
              left: -28.5vw;
              a {
                width: 100%;
                height: 100%;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  }
}
  
