header {
  width: 100%;

  .inner {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;

    // 로고
    .logo {
      position: absolute;
      top: 40px;
      left: 20%;
      z-index: 11;

      a {
        img {
          width: 200px;
          height: 165px;
        }
      }
    }

    // gnb
    .gnbWrap {
      width: 100%;
      height: 100%;
      position: relative;

      .Bggnb {
        position: absolute;
        width: 100%;
        height: 100px;
        background-color: #61001f;
        top: 70px;
        left: 0;
      }

      #gnb {
        position: absolute;
        top: 70px;
        left: 30%;
        text-align: center;
        margin-left: 50px;
        z-index: 10;
        width: 100%;
        height: 100%;

        li {
          float: left;
          width: 300px;
          position: relative;
          &:hover {
            a {
              background-color: #fff;
              color: #333;
            }
          }
          &.on {
            a {
              background-color: #fff;
              color: #333;
            }
          }

          a {
            display: block;
            width: 100%;
            height: 100px;
            font: bold 22px/100px "맑은 고딕";
            color: #fff;
            transition: all 0.5s;
          }

          .sub {
            position: absolute;
            top: 100px;
            left: 0px;
            text-align: center;
            display: none;
            /* 바닐라 자바스크립트에서 추가 */
            overflow: hidden;
            transition: height 1s ease;
            /* ease : 기본값 */

            li {
              a {
                display: block;
                width: 300px;
                height: 50px;
                font: 16px/50px "맑은 고딕";
                color: #ddd;
                text-align: center;
                background-color: #666;
                transition: all 0.3s;

                &:hover {
                  background-color: #e9e9e9;
                  color: #111;
                }
              }
            }
          }
        }
      }
    }
    .btnCall{
      position: absolute;
      top: 50%;
      right: 30px;
      width: 40px;
      height: 40px;
      // border: 1px solid #fff;
      display: none;

      &::before{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s;
      }

      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s;
      }

      span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s;
      }

      &.on{
        &::before{
          top: 50%;
          margin-top: -1px;
          transform: rotate(45deg);
        }

        &::after{
          bottom: 50%;
          margin-bottom: -1px;
          transform: rotate(-45deg);
        }

        span{
          transform: translate(100%);
          opacity: 0;
        }
      }
    }

    .menuMo{
      width: 270px;
      height: 100vh;
      background-color: #a50034;
      position: fixed;
      top: 0;
      left: -270px;
      // left: 0;
      z-index: 50;
      padding: 35px 30px;
      transition: all 0.5s;
      display: none;

      &.on{
        left: 0;
      }
      .gnbMo{
        border-top: 1px solid #ccc;
        padding-top: 30px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
        li{
          a{
            font: bold 30px/1 "arial";
            color: #fff;
            text-align: center;
            display: block;
            margin-bottom: 20px;
          }
          .sub{
            li{
              a{
                font: 18px/1 "arial";
                color: #ddd;
                display: block;
                text-align: center;
                margin-bottom: 20px;
                transition: all 0.5s;
              }
              &:hover{
                a{
                  color: #61001f;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  header {
    .inner {
      // 로고
      .logo {
        left: 10%;
      }


      // gnb
      .gnbWrap {
        #gnb {
          left: 25%;
          margin-left: 60px;
          z-index: 10;
          width: 65%;
          li {
            width: 20vw;

            .sub {
              li {
                a {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1197px) {
  header {
    .inner {
      // 로고
      .logo {
        left: 10%;
      }

      // 상단 메뉴
      .until {
        li {
          a {
            padding: 10px 20px;
          }
        }
      }

      // gnb
      .gnbWrap {
        #gnb {
          left: 25%;
          margin-left: 60px;
          z-index: 10;
          width: 65%;
          li {
            width: 20vw;

            .sub {
              li {
                a {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  header {
    .inner {
      // gnb
      .gnbWrap {
        #gnb {
          margin-left: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .inner {
      // 로고
      .logo {
        left: 5%;
      }

      // 상단 메뉴
      .until {
        li {
          a {
            padding: 10px 20px;
          }
        }
      }

      // gnb
      .gnbWrap {
        #gnb {
          left: 25%;
          margin-left: 60px;
          z-index: 10;
          width: 65%;
          li {
            width: 20vw;

            .sub {
              li {
                a {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  header {
    .inner {
      // 로고
      .logo {
        left: 10%;
      }

      // 상단 메뉴
      .until {
        li {
          a {
            padding: 10px 20px;
          }
        }
      }

      // gnb
      .gnbWrap {
        #gnb {
          left: 25%;
          margin-left: 60px;
          z-index: 10;
          width: 65%;
          display: none;
          li {
            width: 20vw;

            .sub {
              li {
                a {
                  width: 100%;
                }
              }
            }
          }
        }
      }
      .btnCall{
        display: block;
      }
      .menuMo{
        display: block;
      }
    }
  }
}
